<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>

<header>
    <div class="header-content">
        <span class="logo">Skynet</span>
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li> User </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Skynet</h1>
            <p class="tagline">Analyze</p>
            <button>Get Started</button>
        </div>
    </section>
</main>
</body>
</html>